# backend
NODE_ENV=development
DB_URI=mongodb://172.20.10.9:27017
PORT=5000

# frontend - remember, env variables for Vue.js should be in "frontend/.env" and their names should match pattern VUE_APP_*
VUE_APP_SERVER=http://172.20.10.9:5000/